numpy>=1.24,<2
pandas>=2.0
scipy>=1.10
scikit-learn>=1.3
pyarrow>=14.0
pyyaml>=6.0
tqdm>=4.66
joblib>=1.3
rdkit>=2024.9.6
faiss-cpu>=1.7.4
lightgbm>=4.0
torch>=2.2
torch-geometric>=2.5
chemprop>=2.0
fair-esm>=2.0
vina>=1.2.5
meeko>=0.7.1
gemmi>=0.7.0
prody>=2.6.1
biopython>=1.87
openbabel-wheel>=3.1.1.22
